@media (min-width: 32.5em) {
#home-img {
    display: inline;
    float: right;
    width: 300px;
    margin: 20px;
}

#home-name {
    display: inline;
    text-align: start;
}

nav {
    min-height: 500px;
    width: 100%;
}
}